html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
}
.container {
    color:#2D2D31;
    margin: 3px;
    padding: 10px;
    border: solid 1px #D9D7D7;
    float: left;
}
#blank {
  padding-top: 20px;
  clear: left;
}
